# Ignore everything by default
*

# Look into subdirectories
!*/

# Only include the following extensions
!*.md
!*.py
!*.in
!*.txt
!*.toml

# Include makefile
!Makefile

# Explicitly ignore data files
*.pkl
*.db
*.hdf
*.csv
*.lnk
*.dropbox.attrs

# Ignore images
*.pdf
*.jpg
*.jpeg
*.png
*.eps

# Ignore tables
*.tex

# Specifically ignore folders
./data/
./outputs/
dropbox/
*.ipynb_checkpoints/
euraculus.egg-info/
