# Ignore everything by default
*

# Look into subdirectories
!*/

# Only include the following extensions
!*.md
!*.py
!*.in
!*.txt
!*.toml

# Explicitly ignore data files
*.pkl
*.db
*.hdf
*.csv
*.lnk
*.dropbox.attrs

# Ignore images
*.pdf
*.jpg
*.jpeg
*.png
*.eps

# Specifically ignore folders
data/
dropbox/