jupyterlab
linearmodels
networkx
numpy
pandas
requests
scikit-learn
scipy
seaborn
SQLAlchemy
statsmodels
wrds
glmnet-py
jupytext
missingno
# pandas-datareader
git+https://github.com/felixbrunner/kungfu.git